/* html {
  font-size: 1rem;
}

body {
  margin: 0px;
  height: 100%;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.layout-wrapper {
  min-height: 100vh;
}


.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
}


.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 4rem;
  transition: margin-left .2s;
}

.layout-main {
  flex: 1 1 auto;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem;
  margin-top: -.5rem;
}


@media screen and (min-width: 1960px) {

  .layout-main,
  .landing-wrapper {
    width: 1504px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 991px) {
  .layout-wrapper .layout-main-container {
    margin-left: 0;
    padding-left: 2rem;
  }
}



.game-card .p-card-title {
  margin-bottom: 0
}



.game-card h3.winner {
  position: relative;
}


.game-card .p-card-footer {
	text-align: center;
}

.game-card h3.winner::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--red-500);
  top: calc(50% - 6px);
  left: -75%;
}


svg text.cell-text {
  font-size: .4em;
}

.solid-filled svg text.cell-text {
  fill: #fff;
}

.hide-cell-text svg text.cell-text,
svg text.cell-text.later  {
  fill: transparent;
}

.solid-filled svg rect.filled {
  fill:  green;
}


svg rect.filled.later {
  fill: #e9ecef;
}


.solid-filled svg rect.filled.red {
  fill: red;
}



.solid-filled svg #gradient-legend {
  display: none;
}
